{% load static %}
<div class="col-md-6">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Zapleczara el classico</h5>
        </div>
        <div class="additional-attributes" style="display: none; padding: 20px;">
            <div class="form-group">
                <label for="tsvInput">Zlecenie dla zapleczary:</label>
                <textarea class="form-control" id="tsvInput" rows="4"
                    placeholder="title \ graphic_theme \ graphic_theme2 \ category \ length \ isfaq&#10Wklej tutaj tsv za pomocą ctrl+v"></textarea>
                <button id="resetButton" style="display: none;">Clear table</button>
                <div class="table-container" style="display: none;"></div>
            </div>



            <div class="form-group">
                <label>Grafiki:</label>
                <div class="checkbox-container">
                    <input type="radio" id="pixabay" name="graphicSource" value="pixabay" checked>
                    <label for="pixabay">Pixabay</label>
                    <input type="radio" id="pexels" name="graphicSource" value="pexels">
                    <label for="pexels">Pexels</label>
                    <input type="radio" id="ai" name="graphicSource" value="ai">
                    <label for="ai">AI</label>
                </div>
            </div>

            <div class="form-group">
                <label>Nakładka?:</label>
                <div class="checkbox-container">
                    <input type="radio" id="withOverlay" name="overlayOption" value="withOverlay" checked>
                    <label for="withOverlay">Z nakładką</label>
                    <input type="radio" id="withoutOverlay" name="overlayOption" value="withoutOverlay">
                    <label for="withoutOverlay">Bez nakładki</label>
                </div>
            </div>


            <div class="color-picker-container">
                <label for="colorPicker">Wybierz kolor:</label>
                <input type="color" id="colorPicker" name="color" onchange="updateRGB(this.value)">
            </div>

            <div style="display:none;">
                <input type="hidden" id="rgbValue" name="rgbValue">
            </div>

            <div class="form-group">
                <label for="dateInput">Wybierz datę dla początku publikacji:</label>
                <input type="date" id="dateInput" class="form-control" pattern="\d{2}-\d{2}-\d{4}"
                    placeholder="DD-MM-YYYY">
            </div>

            <div class="form-group">
                <label for="publishIntervalInput">Co ile mają publikować się wpisy?:</label>
                <input type="number" id="publishInterval" class="form-control" min="1" max="99">
            </div>

            <div class="form-group">
                <label for="withFaq">Czy chcesz wygenerować FAQ dla tekstów?</label>
                <input type="radio" id="withFaq" name="faqOption" value="withFaq" checked>
                <label for="withFaq">Tak</label>
                <input type="radio" id="withoutFaq" name="faqOption" value="withoutFaq">
                <label for="withoutFaq">Nie</label>
            </div>

            <div class="form-group">
                <label class="form-label" for="openai_api_key_classic">OpenAI API key:</label>
                <input type="text" class="form-control" id="openai_api_key_classic"
                    name="openai_api_key_classic" value="{{user.account.openai_api_key}}">
            </div>

            <button type="submit_tsv" data-card-id="{{ data.id }}" id="classic_main">Submit</button>
            <div id="graphicSpace" data-src="{% static 'temp-image.webp' %}"></div>
            <div id="responseOutput"></div>
        </div>
    </div>
</div>