<div class="col-md-6">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Create zaplecze</h5>
        </div>
        <div class="additional-attributes" style="display: none; padding: 20px;">
            <button id="start" type="submit" data-card-id="{{ data.id }}">Create</button>
            <ul id="progress" style="display: none;">
                <li class="spinner-container">
                    <div class="spinner"></div>
                    <span class="spinner-text"></span>
                </li>
            </ul>
        </div>
    </div>
</div>