<div class="col-md-6">
    <div class="card shadow">
        <div class="card-body">
            <h3>Zaplecza na mase</h3>
            <p>Click to select several zapleczas from category</p>
        </div>
        <div class="additional-attributes">
            <label class="form-label" for="topic">Tematyka zaplecza:</label>
            <select class="form-control" id="topics" name="topics">
                {% for z in zaplecza_unique %}
                    <option value="{{ z.id }}" data-count="{{ z.num_zaplecze }}">{{ z.category }}</option>
                {% endfor %}
            </select>
            <h6>Number of zapleczas</h6>
            <div class="slider-container">
                <input type="range" id="zapleczaSlider" class="range-slider" min="0" max="10" value="0" name="zaplecza_count">
                <input type="text" id="zapleczaSliderValue" class="range-value" value="0" readonly>
            </div>
        </div>
    </div>
</div>