{% load static %}
{% load socialaccount %}
{% load random_numbers %}
<!DOCTYPE html>
<html>
<head>
    <title>Zapleczas v0.12</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.8.5" integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>


    <!-- Tailwind and Tailwind-Elements -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <script src="https://cdn.tailwindcss.com"></script> -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    <!-- Add Bootstrap JS and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% block style %}{% endblock %}

</head>

<body hx-ext="ws" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Zapleczara</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        Zaplecza
                    </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a href="/zaplecza" class="dropdown-item">My Zaplecza</a></li>
                    <li><a href="/create" class="dropdown-item">Create</a></li>
                    {% if user.account.premium_user %}
                        <li><a href="/register" class="dropdown-item">Register</a></li>
                        <li><a href="/all" class="dropdown-item">All Zaplecza</a></li>
                    {% endif %}
                </ul>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/user">Hello, {{user.username}}</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% provider_login_url 'google' action="reauthenticate" %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div id="top-sticky">
    <div id="banner-container" ws-connect="/ws/banners/">
        <div hx-trigger="load" hx-get="/banners"></div>
    </div>
    <div id="notification-container-{{user.id}}" ws-connect="/ws/notifications/"></div>
</div> 
<h1 class="">{%block h1 %}{% endblock %}</h1>

{% if user.is_authenticated %}
{% block content %}
{% endblock %}



<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/notifications.js' %}"></script>
{%block script %}{% endblock %}
{% endif %}
{% if user.account.cursor_followed %}
<div style="display: flex; justify-content: flex-end; position: sticky;bottom: 0;left: 0;background-image: url({% static 'monkey.png' %});height: 15em;width: 17em;z-index: -10;translate: -135px;"> 
<div class="left eyeball">
    <div class="pupil" id="pupil1"></div>
</div>
        <div class="right eyeball">
            <div class="pupil" id="pupil2"></div>
        </div>
</div>
<link rel="stylesheet" href="{% static 'css/eyes.css' %}">
<script src="{% static 'js/eyes.js' %}"></script>
{% endif %}
</body>
</html>