{% extends "base.html" %}  

{% block style %}
{% endblock %}

{% block h1 %}
Stwórz nowe zaplecze
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <form id="createForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="domain">Domain:</label>
                    <input type="text" class="form-control" id="domain" name="domain">
                </div>
                <div class="form-group">
                    <label class="form-label" for="lang">Language:</label>
                    <input type="text" class="form-control" id="lang" name="lang">
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{social_data.email}}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="url">URL:</label>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
                <div class="form-group">
                    <label class="form-label" for="login">Login:</label>
                    <input type="text" class="form-control" id="login" name="login">
                </div>
                <div class="form-group">
                    <label class="form-label" for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script>
    $(document).ready(function() {
        $('#createForm').on('submit', function(event) {
            event.preventDefault(); // Prevent form from submitting normally
            
            // Serialize form data
            var formData = $(this).serialize();

            // Check if any field is empty
            var emptyFields = false;
            $(this).find('input').each(function() {
                if ($(this).val() === '') {
                    emptyFields = true;
                    return false; // Exit the loop early
                }
            });
            
            if (emptyFields) {
                alert('Please fill in all fields.');
                return; // Do not proceed with submission
            }
            
            // Send POST request to the /api/all/ endpoint
            $.ajax({
                type: 'POST',
                url: '/api/all/',
                data: formData,
                success: function(response) {
                    // Handle success response here
                    window.location.href = '/' + response.id;
                },
                error: function(error) {
                    // Handle error response here
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}