{% extends "base.html" %}  

{% block style %}
{% endblock %}

{% block h1 %}
Dostępne zaplecza dla {{user.username}}
{% endblock %}




{% block content %}

{% if papaj_spi.is_staff %}

<div class="container mt-5">
{% for i in queryset %}
{% if i.email == social_data.email %}
    <div class="row">
        <div class="col-md-12">
            <a href="/{{i.id}}/">
                <div class="card shadow" data-card-id="{{ i.id }}">
                    <div class="card-icons">
                        {% csrf_token %}
                        {% if not i.wp_api_key %}
                        <i class="fas fa-plus-circle icon" id="create"></i>
                        {% endif %}
                        <i class="fas fa-pen icon" id="write"></i>
                        <i class="fas fa-trash icon" id="delete"></i>
                    </div>
                    <div class="card-body index-card">
                        <h5 class="card-title">{{ i.domain }}</h5>
                        {% if i.email == social_data.email or user.is_staff %}
                            <h6>{{ i.email }}</h6>
                        {% endif %}
                        {% if i.ftp_pass %}
                        <h6>FTP &#10003;</h6>
                        {% else %}
                        <h6>FTP &#10007;</h6>
                        {% endif %}
                        {% if i.db_pass %}
                        <h6>DB &#10003;</h6>
                        {% else %}
                        <h6>DB &#10007;</h6>
                        {% endif %}
                        {% if i.wp_user %}
                        <h6>WP &#10003;</h6>
                        {% else %}
                        <h6>WP &#10007;</h6>
                        {% endif %}
                    </div>
                </a>
                {% comment %} <div class="table-responsive">
                    <table class="table table-bordered additional-attributes" style="display: none;">
                        <thead class="thead-light">
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in i.items %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

{% endif %}
{% endfor %}
</div>


{% else %}

<div style="display: flex; flex-direction: column; align-items: center; justify-content: center;"><h2>Dzisiaj zamknięte</h2>
<div style="display: flex;"><h3 style="margin:0px 10px">Reason:</h3><h3 style="margin:0px 10px; font-weight: bold;">{{papaj_spi.first_name}}</h3></div>
</div>

{% endif %}

{% endblock %}

{% block script %}

<script>
    // Add event listener to toggle table visibility
    $(document).ready(function() {
    });
</script>
{% endblock %}