{% extends "base.html" %}  

{% block style %}
{% endblock %}

{% block h1 %}
Twoja Stara with AI
{% endblock %}

{% block content %}

{% for i in queryset %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow" data-card-id="{{ i.id }}">
                <div class="card-icons">
                    {% csrf_token %}
                    {% if not i.wp_api_key %}
                    <i class="fas fa-plus-circle icon" id="create"></i>
                    {% endif %}
                    <i class="fas fa-pen icon" id="write"></i>
                    <i class="fas fa-trash icon" id="delete"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.domain }}</h5>
                    <p class="card-text">Click to view additional details</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered additional-attributes" style="display: none;">
                        <thead class="thead-light">
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in i.items %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td>{{ v }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% endblock %}

{% block script %}

<script>
    // Add event listener to toggle table visibility
    $(document).ready(function() {
    });
</script>
{% endblock %}