{% extends "base.html" %}  
{% load static %}

{% block style %}
{% endblock %}

{% block h1 %}
Write linked article for {{umowa.domena}}
{% endblock %}

{% block content %}

{% if user.is_staff %}
<h2 id="h2-extender" style="text-align: center;">Po prostu odśwież to zaplecze!</h2>
<div class="semstorm-refresh-container">
    <h2 class="pulse"><strong>Ostrożnie!</strong></h2>
    <div style="display: flex; flex-direction: column; align-items: center;" class="form-group">
        <label class="form-label" for="semstorm_api_key">Semstorm API key:</label>
        <input style="max-width: 25%;" type="text" class="form-control" id="semstorm_api_key" name="semstorm_api_key" value="{{user.account.semstorm_api_key}}">
    </div>
    <div class="ref-button-holder"><button type="refresh_visibility" id="refresh_visibility" class="refresh_visibility">Refresh Semstorm</button></div>
</div>
{% endif %}

{% if papaj_spi.is_staff %}
    <div class="container mt-5">
        <div style="position: fixed; top: 85%; right: 0; transform: translateY(-50%); width: 250px; height: auto; background-color: #3498db; color: #ffffff; z-index: 1000; padding: 20px; text-align: center; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);">
            <p style="margin-bottom: 10px; font-size: 1.2em;">Ilość wybranych zaplecz: <span id="zapleczaCount" style="font-weight: bold;">0</span></p>
            <p style="font-size: 1.2em;">Ilość linków: <span id="linksCount" style="font-weight: bold;">0</span></p>
        </div>
        
        <div class="row">
            {% include "links/zaplecza_all.html" with zaplecza=zaplecza %} 
            {% include "links/zaplecza_categories.html" with zaplecza_unique=zaplecza_unique %} 
            {% include "links/links_custom.html" %} 
            {% include "links/links_panel.html" with umowa=umowa %}
            {% include "links/links_form.html" %}
        </div>        
    </div>

{% else %}

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 text-center">
                <h2>Dzisiaj zamknięte</h2>
                <div class="d-flex align-items-center">
                    <h3 class="mr-2">Reason:</h3>
                    <h3 class="font-weight-bold">{{ papaj_spi.first_name }}</h3>
                </div>
            </div>
        </div>
    </div>

        
{% endif %}

{% endblock %}

{% block script %}
<script src="{% static 'js/refresh_vis_base.js' %}"></script>
<script src="{% static 'js/links.js' %}"></script>
<script src="{% static 'js/links_form.js' %}"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function() {
        let table = new DataTable('#zaplacza-table', {
            paging: false,
            scrollCollapse: true,
            scrollY: '40vh'
        });
        let panel_table = new DataTable("#frazy-table", {
            paging: false,
            scrollCollapse: true,
            scrollY: '40vh'
        })
        // $('#zaplacza-table').DataTable().columns.adjust();
        // $('#zaplacza-table').parent().parent().parent().parent().hide();
    });
</script>
<script>
    document.getElementById('topics').addEventListener('change', function() {
        var select = this;
        var selectedOption = select.options[select.selectedIndex];
        var count = parseInt(selectedOption.getAttribute('data-count'));
        var slider = document.getElementById('zapleczaSlider');
        var sliderValue = document.getElementById('zapleczaSliderValue');

        slider.max = count;
        slider.value = 0;
        sliderValue.value = 0;
    });
</script>

{% endblock %}