{% extends "base.html" %}  

{% block style %}
{% endblock %}

{% block h1 %}
Dodaj klucz do API
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 form-container">
            <label class="form-label">Used OpenAI tokens: {{user.account.tokens_used}}</label>
            <form id="createForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="openai_api_key">OpenAI API key:</label>
                    <input type="text" class="form-control" id="openai_api_key" name="openai_api_key" value="{{user.account.openai_api_key}}">
                    {% if user.is_staff %}
                    <label class="form-label" for="semstorm_api_key">Semstorm API key:</label>
                    <input type="text" class="form-control" id="semstorm_api_key" name="semstorm_api_key" value="{{user.account.semstorm_api_key}}">
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>

    <div class="row" style="margin-top: 3em;">
        {% regroup data by task_id as task_list %}

        {% for task in task_list %}
          <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <h3>Task ID: {{ task.grouper }} - Keywords: 
                      {% for row in task.list %}
                        {{ row.keyword }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </h3>
                    <p>Click to see task details</p>
                    <button class="copyButton">Copy panel note</button>
                    <button class="copyLinks">Copy links</button>
                </div>
                <div class="additional-attributes">
                  <table class="keywordsTable">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>URL</th>
                        <th>Keyword</th>
                        <th>Link</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in task.list %}
                        <tr>
                          <td>{% if row.done %}Done{% else %}Writing{% endif %}</td>
                          <td>{{ row.url }}</td>
                          <td>{{ row.keyword }}</td>
                          <td>{{ row.link }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
        {% endfor %}        
    </div>
</div>

{% endblock %}


{% block script %}
<script>
  // Using jQuery for simplicity
  $(document).ready(function () {
    $(".copyButton").on("click", function () {
      event.preventDefault(); // Prevent form from submitting normally
      // Find the associated table
      const keywordsTable = $(this).closest(".card").find(".keywordsTable");
      const rows = keywordsTable.find("tbody tr");

      let clipboardText = "Dla fraz kluczowych z największym potencjałem zleciłem przygotowanie treści zawierających bezpośrednie odnośniki do strony klienta. Takie działanie pozwoli rozbudować profil linkowy klienta, zwiększyć autorytet domeny oraz poprawić pozycję kluczowych fraz w kontekście ruchu organicznego:\n";

      // Loop through each row in the table
      rows.each(function () {
          const cells = $(this).find("td");
          // Assuming the structure is consistent (Status, URL, Keyword, Link)
          const status = cells.eq(0).text();
          const url = cells.eq(1).text();
          const keyword = cells.eq(2).text();
          const link = cells.eq(3).text();

          // Append the keyword and URL to the clipboardText
          clipboardText += `\t- ${keyword}: ${url}\n`;
      });

      // Create a textarea element to temporarily hold the text
      const textarea = $("<textarea>").val(clipboardText);
      $("body").append(textarea);

      // Select and copy the text
      textarea.select();
      document.execCommand("copy");

      // Remove the textarea element from the DOM
      textarea.remove();
    });
    $(".copyLinks").on("click", function() {
      event.preventDefault();
      const keywordsTable = $(this).closest(".card").find(".keywordsTable");
      const rows = keywordsTable.find("tbody tr");

      let clipboardText = "";

      // Loop through each row in the table
      rows.each(function () {
          const cells = $(this).find("td");
          // Append the URL to the clipboardText
          clipboardText += cells.eq(1).text() + "\n";
      });

      // Create a textarea element to temporarily hold the text
      const textarea = $("<textarea>").val(clipboardText);
      $("body").append(textarea);

      // Select and copy the text
      textarea.select();
      document.execCommand("copy");

      // Remove the textarea element from the DOM
      textarea.remove();
    })
  });
</script>
<script>
    $(document).ready(function() {     
      $('#createForm').on('submit', function(event) {
          event.preventDefault(); // Prevent form from submitting normally
          
          // Serialize form data
          var formData = $(this).serialize();
          // console.log(formData);

          /*
          // Check if any field is empty
          var emptyFields = false;
          $(this).find('input').each(function() {
              if ($(this).val() === '') {
                  emptyFields = true;
                  return false; // Exit the loop early
              }
          });
          
          if (emptyFields) {
              alert('Please fill in all fields.');
              return; // Do not proceed with submission
          }
          */
          
          // Send POST request to the /api/all/ endpoint
          $.ajax({
              type: 'POST',
              url: '/user/',
              headers: {
                  'X-CSRFToken': getCookie('csrftoken')
              },
              data: formData,
              success: function(response) {
                  // Handle success response here
                  window.location.href = '/';
              },
              error: function(error) {
                  // Handle error response here
                  console.log(error);
              }
          });
      });
    });
</script>
{% endblock %}