{% extends "base.html" %}  
{% load static %}
{% block style %}
<style>
    .card{
        margin-bottom: 65px;
    }
</style>
{% endblock %}

{% block h1 %}
Twoja Stara with AI
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow" id="main" data-card-id="{{ data.id }}">
                <div class="card-icons">
                    {% csrf_token %}
                    {% if not data.wp_api_key %}
                    <i class="fas fa-plus-circle icon" id="create"></i>
                    {% endif %}
                    <i class="fas fa-pen icon" id="write"></i>
                    <i class="fas fa-trash icon" id="delete"></i>
                </div>
                <div class="card-body">
                    <a href="https://{{data.domain}}"><h5 class="card-title">{{ data.domain }}</h5></a>
                    <p class="card-text">Click to view additional details</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered additional-attributes" style="display: none;">
                        <thead class="thead-light">
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for k, v in data.items %}
                                <tr>
                                    <td>{{ k }}</td>
                                    <td id={{k}}>{{ v }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow">
                {% if data.wp_api_key %}
                <div class="card-body">
                    <h5 class="card-title">Utwórz kategorie</h5>
                </div>
                <div class="additional-attributes" style="display: none; padding: 20px;">
                    <form id="catForm" type="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="openai_api_key">OpenAI API key:</label>
                            <input type="text" class="form-control" id="openai_api_key" name="openai_api_key">
                        </div>
                        {% if not data.topic %}
                        <div class="form-group">
                            <label class="form-label" for="topic">Tematyka zaplecza:</label>
                            <input type="text" class="form-control" id="topic" name="topic">
                        </div>
                        {% endif %}
                        <h6>Categories</h6>
                        <div class="slider-container">
                            <input type="range" id="CatSlider" class="range-slider" min="2" max="7" value="4" name="cat_num">
                            <input type="text" id="CatSliderValue" class="range-value" value="4" readonly>
                        </div>
                        <h6>Subcategories</h6>
                        <div class="slider-container">
                            <input type="range" id="SubCatSlider" class="range-slider" min="2" max="7" value="4" name="subcat_num">
                            <input type="text" id="SubCatSliderValue" class="range-value" value="4" readonly>
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">Postaw zaplecze</h5>
                </div>
                <div class="additional-attributes" style="display: none; padding: 20px;">
                    <button id="start" type="submit" data-card-id="{{ data.id }}">Napierdalaj</button>
                    <ul id="progress" style="display: none;">
                        <li class="spinner-container">
                            <div class="spinner"></div>
                            <span class="spinner-text"></span>
                        </li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Kategorie</h5>
                </div>
                <div class="additional-attributes" style="display: none; padding: 20px;">
                    <div>
                        <button id="categories" type="submit" data-card-id="{{ data.id }}">Napierdalaj</button>
                        <div class="table-responsive" style="display: none;">
                            <table class="table table-bordered" id="cat_table">
                                <thead class="thead-gray">
                                    <tr>
                                        <th>Wpisy</th>
                                        <th>Kategoria</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <button id="articles" type="submit" data-card-id="{{ data.id }}" style="display: none;">Wypierdalaj</button>
                    </div>
                    <form id="writeForm" type="post" style="display: none;">
                        {% csrf_token %}
                        {% if not data.topic %}
                        <div class="form-group">
                            <label class="form-label" for="topic">Tematyka zaplecza:</label>
                            <input type="text" class="form-control" id="topic" name="topic">
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <label class="form-label" for="openai_api_key">OpenAI API key:</label>
                            <input type="text" class="form-control" id="openai_api_key" name="openai_api_key">
                        </div>
                        <h6>Articles</h6>
                        <div class="slider-container">
                            <input type="range" id="ArtSlider" class="range-slider" min="1" max="5" value="1" name="a_num">
                            <input type="text" id="ArtSliderValue" class="range-value" value="1" readonly>
                        </div>
                        <h6>Paragraphs per article</h6>
                        <div class="slider-container">
                            <input type="range" id="ParagraphsSlider" class="range-slider" min="2" max="8" value="4" name="p_num">
                            <input type="text" id="ParagraphsSliderValue" class="range-value" value="4" readonly>
                        </div>
                        <div class="date-container">
                            <label>Start date</label>
                            <input type="date" value="2005-04-02" id="start_date" name="start_date" style="margin-left: 12px;"/>
                        </div>
                        <h6>Days between articles</h6>
                        <div class="slider-container">
                            <input type="range" id="DaysSlider" class="range-slider" min="2" max="14" value="7" name="days_delta">
                            <input type="text" id="DaysSliderValue" class="range-value" value="7" readonly>
                        </div>
                        <div class="checkbox-container">
                            <label>Publish forward</label>
                            <input type="checkbox" id="forward_delta" class="checkbox" name="forward_delta">
                        </div>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'js/zaplecze.js' %}"></script>
<script src="{% static 'js/new_zaplecze.js' %}"></script>
<script src="{% static 'js/zaplecze_categories.js' %}"></script>
{% endblock %}