{% extends "base.html" %}
{% load static %}
{% block style %}
<style>
    .card {
        margin-bottom: 65px;
    }
</style>
{% endblock %}

{% block h1 %}
{{data.domain}}
{% endblock %}

{% block content %}
{% if papaj_spi.is_staff %}
<div class="container mt-5">
    <div class="row">
       {% include 'zaplecze/data.html' with data=data %} 
    </div>
    <div class="row">
        {% if data.wp_api_key and data.wp_api_key != "None" %}
            {% if not data.category %}
                <div class="col-md-6 form-container">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{category_form}}
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
            {% else %}
                {% include 'zaplecze/categories.html' with data=data %}
                {% include 'zaplecze/write.html' with data=data %}
                {% include 'zaplecze/classic.html' %}
                {% include 'zaplecze/compare.html' %}
                <script src="{% static 'js/zaplecze_categories.js' %}"></script>
                <script src="{% static 'js/links_form.js' %}"></script>
            {% endif %}
        {% else %}
            {% include 'zaplecze/create.html' with data=data %}
        {% endif %}
    </div>
</div>
    {% else %}

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;"><h2>Dzisiaj zamknięte</h2>
<div style="display: flex;"><h3 style="margin:0px 10px">Reason:</h3><h3 style="margin:0px 10px; font-weight: bold;">{{papaj_spi.first_name}}</h3></div>
</div>
    {% endif %}

    {% endblock %}
    {% block script %}
    <script src="{% static 'js/zaplecze.js' %}"></script>
    <script src="{% static 'js/new_zaplecze.js' %}"></script>
    <script src="{% static 'js/zaplecze_classic.js' %}"></script>
    <script src="{% static 'js/zaplecze_comp.js' %}"></script>
    {% endblock %}