{% extends "base.html" %}  

{% block style %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css">
{% endblock %}

{% block h1 %}
Najważniejsze parametry wszystkich zaplecz
{% endblock %}




{% block content %}

<div class="container mt-5" style="display: flex; justify-content: center;">
    <table id="zaplecza-table">
        <thead style="position: sticky; top: -1px; background-color: #343a40;">
            <td></td>
            <td>Domain</td>
            <td>IP</td>
            <td>Status</td>
            <td>SSL</td>
            <td>SSL expiration</td>
            <td>Registrar</td>
            <td>Expiration date</td>
            <td>Servername</td>
            <td>Lang</td>
            <td>Category</td>
            <td>WP API Key</td>
            <td>Post count</td>
            <td>Category count</td>
            <td>Linked websites</td>
            <td>Outgoing links</td>
        </thead>
        <tbody>
            {% for i in queryset %}
                {%with i as i %}
                    {% include 'partials/zaplecza_row.html' %}
                {%endwith%}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
  
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script>
    // Add event listener to toggle table visibility
    $(document).ready(function() {
        let zaplecza_table = new DataTable("#zaplecza-table", {
            pagingType: 'simple_numbers'
        })
    });
</script>
{% endblock %}